.chat {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.name-entry--title {
  text-align: center;
}

.message--sender {
  padding: 10px;
}

.message--text {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: rgba(50, 150, 50, 0.9);
  display: inline-block;
}

.name-input {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name-input .name-input--button {
  width: 100px;
}
