/* Style for the main page goes here */
.ons-icon {font-size: 27px !important;}

.inlineBlock:first-child {
	margin-right: 10px;
}
.main__circle {
	width: 25px;
	height: 25px;
	background: #f7cc36;
	border-radius: 25px;	
	margin-left: 3px;
}
.main__circle_adjuster {padding-top: 3px;}

.main__map-wrapper {
  height: 100vh;
}

