/* Style for the main page goes here */
.ons-icon {font-size: 27px !important;}

.inlineBlock:first-child {
	margin-right: 10px;
}
.main__circle {
	width: 25px;
	height: 25px;
	background: #f7cc36;
	border-radius: 25px;	
	margin-left: 3px;
}
.main__circle_adjuster {padding-top: 3px;}

.main__map-wrapper {
  height: calc(100vh - 44px);
}

.map__button,
.fab--bottom__left {
	top: auto;
    bottom: 15px !important;
    left: 10px !important;
    right: auto;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: #FFF;
    background: #07c;
    box-shadow: 0 0 4px #333;
}
.fab--icon__center {
	text-align: center;
    width: 40px;
    padding-top: 5px;
    position: absolute;
}